:root{
  --bg-body: #021B1A;
  --bg-section: #032E2C;
  --main-gradient: linear-gradient(to right, #15E699 0%, #38f9d7 100%);

  --main-color: #01FBA1;

  --font-cl-white: #FAF5EE;
  --font-cl-gray: #819796;
  --font-cl-darkgray: #5A6B6A;
  --font-cl-darkgreen: #0A2018;
}