*{
  margin: 0;padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 21px 40px;
  background-color: var(--bg-body);
  scroll-behavior: smooth;
  font-family: var(--font-principal);
  color: var(--font-cl-white);
}