.header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar{
  height: 0;
}

.nav-list{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 2.5rem;
  position: relative;
  top: 2.5rem;
  z-index: 1;
}

.nav-list li a{
  color: var(--font-cl-white);
  font-size: var(--font-18px);
  font-weight: 500;
}

.nav-list li a:after{
  content: '';
  margin: 0.25rem auto 0;
  display: block;
  width: 0;
  height: 0.25rem;
  background-color: var(--main-color);
  border-radius: 2px;
}

.nav-list li a:hover::after{
  width: 80%;
  transition: width 0.3s linear;
}